@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin-top: 155px;
}
main h1 {
  margin-top: 80px;
  color: #00BF62;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
}
main {
  /*INÍCIO SOBRE NÓS*/
}
main div#sobretexto {
  display: grid;
}
main div#sobrecirurgiao > div.card-body, main div#sobredescricao > div.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
main div#conjuntosobre {
  margin-top: 70px;
}
main div#sobretexto div.card-body {
  background-color: #00FF83;
}
main div#sobretexto div.card-body p {
  font-weight: bold;
  color: #00522A;
}
main div#sobretexto > div.card {
  border-radius: 10px 10px 0px 0px;
  border-style: none;
  box-shadow: 2px -1px 4px rgba(0, 82, 42, 0.337254902);
}
main div#sobretexto > div#sobrecirurgiao {
  width: 25rem;
}
main div#sobredescricao {
  background-color: #05C768;
  height: 235px;
  padding: 22px 0px 22px 0px;
  margin-top: 15px;
}
main div#sobredescricao > div.card {
  width: 25rem;
  height: 190px;
  padding: 12px 22px 12px 22px;
  box-shadow: 0px 0px 15px rgb(0, 82, 42);
}
main div#sobredescricao > div.card > p {
  text-align: justify;
  font-weight: bold;
  color: #00522A;
}
@media (max-width: 989px) {
  main div.card {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 990px) {
  main div#sobretexto {
    grid-template-columns: 428px 1fr;
  }
  main div#sobredescricao {
    height: 450px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  main div#sobredescricao div.card {
    width: 500px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
  }
  main div#sobrecirurgiao {
    width: 400px;
    height: 500px;
    margin-left: 2em;
    margin-right: -25em;
  }
  main div#sobrecirurgiao img.card-img-top {
    border-radius: 30px 0px 0px 0px;
  }
  main div.card-body {
    border-radius: 0px 0px 30px 0px;
  }
  main div#sobretexto > div#sobrecirurgiao {
    width: 400px;
  }
  main div#sobretexto > div.card {
    border-radius: 30px 0px 30px 0px;
    border-style: none;
  }
  main div#sobretexto img, main div.card-body {
    width: 400px;
  }
  main p {
    text-align: justify;
  }
}
main {
  /*FIM SOBRE NÓS*/
  /*INÍCIO EXAMES MÉDICOS E CLÍNICOS*/
}
main div.cards {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
main div.cards img {
  width: 50vw;
  border-radius: 20px 20px 0px 0px;
}
main div.cards .cardtexto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #05C768;
  color: white;
  font-weight: bolder;
  width: 50vw;
  height: 10vw;
  font-size: 2.5vw;
  border-radius: 0px 0px 20px 20px;
}
@media (min-width: 800px) {
  main div#tresprimeiros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  main div#doisultimos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main div#tresprimeiros div.cards img {
    width: 250px;
  }
  main div#tresprimeiros div.cards .cardtexto {
    width: 250px;
    height: 50px;
    font-size: 14px;
  }
  main div#doisultimos div.cards img {
    width: 380px;
  }
  main div#doisultimos div.cards .cardtexto {
    width: 380px;
    height: 50px;
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  main div#tresprimeiros div.cards img {
    width: 300px;
  }
  main div#tresprimeiros div.cards .cardtexto {
    width: 300px;
    height: 60px;
    font-size: 18px;
  }
}
@media (min-width: 1070px) {
  main div#doisultimos div.cards img {
    width: 524px;
  }
  main div#doisultimos div.cards .cardtexto {
    width: 524px;
    height: 80px;
    font-size: 20px;
  }
}
main {
  /*FIM EXAMES MÉDICOS E CLÍNICOS*/
  /*INÍCIO AGENDAR*/
}
main div#agendar {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
main div#agendar div#duasimagens {
  margin-left: auto;
  margin-right: auto;
}
main div#agendar div#duasimagens img {
  margin-left: 2vw;
  margin-right: auto;
}
main div#boxagendar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 93vw;
  height: 72vw;
  color: white;
  font-weight: bolder;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img_index/clinica.jpg");
  border-radius: 20px;
  overflow: hidden;
}
main div#boxagendar p {
  font-size: 20px;
  font-weight: bold;
}
main div#boxagendar button {
  color: white;
  width: 140px;
  height: 55px;
  border-radius: 20px;
  border-style: none;
  font-weight: bold;
  background-color: #01c466;
  box-shadow: 2px 2px 2px gray;
  transition: background-color 0.5s;
}
main div#boxagendar button:hover {
  background-color: #00522A;
}
main div#boxagendar::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(123, 245, 186, 0.4784313725); /* verde transparente */
  z-index: 1;
}
main div#boxagendar p,
main div#boxagendar button {
  position: relative;
  z-index: 2;
}
main div#duasimagens img {
  width: 200px;
  height: 450px;
  box-shadow: 2px 2px 2px gray;
}
@media (min-width: 600px) {
  main div#agendar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main div#boxagendar {
    width: 500px;
    height: 450px;
  }
}
@media (max-width: 999px) {
  main div#duasimagens {
    display: none;
  }
  main div#agendar {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
main {
  /*FIM AGENDAR*/
}

footer {
  margin-top: 500vw;
}
@media (min-width: 600px) {
  footer {
    margin-top: 455vw;
  }
}
@media (min-width: 800px) {
  footer {
    margin-top: 2000px;
  }
}

/*# sourceMappingURL=style.css.map */
