*{
    margin: 0px;
    padding: 0px;
     box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


main{

    
    margin-top: 155px;

     h1{
        margin-top: 80px;
        color: #00BF62;
        font-weight: bolder;
        font-size: 18px;
        text-align: center;
    }

    div#sobretexto{
        display: grid;
    }

    div#sobrecirurgiao > div.card-body, div#sobredescricao > div.card{
        display: flex;
        justify-content: center; /* centraliza horizontal */
        align-items: center;     /* centraliza vertical */
        text-align: center;      /* centraliza o texto */
        padding: 20px;
    }

    div#conjuntosobre{
        margin-top: 70px;
    }

    div#sobretexto div.card-body{
        background-color: #00FF83;

        p{
            font-weight: bold;
            color: #00522A;
        }
    }

    div#sobretexto > div.card{
        border-radius: 10px 10px 0px 0px;
        border-style: none;
        box-shadow: 2px -1px 4px rgba(0, 82, 42, 0.337254902);
    }

    div#sobretexto > div#sobrecirurgiao{
        width: 25rem;
    }

    div#sobredescricao{
        background-color: #05C768;
        height: 235px;
        padding: 22px 0px 22px 0px;
        margin-top: 15px;
    }

    div#sobredescricao > div.card{
        width: 25rem;
        height: 190px;
        padding: 12px 22px 12px 22px;
        box-shadow: 0px 0px 15px rgb(0, 82, 42);
    }
    
    div#sobredescricao > div.card > p{
        text-align: justify;
        font-weight: bold;
        color: #00522A;
    }

    
    @media(max-width: 989px) {
        div.card{
            margin-left: auto;
            margin-right: auto;
        }
        
    }

    @media(min-width: 990px){
        div#sobretexto{
            grid-template-columns: 428px 1fr;
        }

        div#sobredescricao{
            height: 450px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;

            div.card{
                width: 500px;
                height: 330px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 42px;
            }
        }

        div#sobrecirurgiao{
            width: 400px;
            height: 500px;
            margin-left: 2em;
            margin-right: -25em;
            img.card-img-top{
                border-radius: 30px 0px 0px 0px;
            }
        }

        div.card-body{
            border-radius: 0px 0px 30px 0px;
        }

        div#sobretexto > div#sobrecirurgiao{
            width: 400px;
        }

        

        div#sobretexto > div.card{
            border-radius: 30px 0px 30px 0px;
            border-style: none;
        }

        div#sobretexto img, div.card-body{
            width: 400px;
        }

        p{
            text-align: justify;
        }
    }
}


footer{
    margin-top: 500px;
}